{% extends 'base.html' %}
{% block title %}Bosh sahifa{% endblock title %}
{% block content %}
<div class="text-center mt-3 mr-3 ml-3 " >
    <h1 class="text-center text-dark">Kanaldan kitobxonlar uchun manfaatlar:</h1><br>
    <p>1. Bunda siz eʼlon qilingan Kitoblardan arzon narxni topib kitob xarid qilishingiz mumkin.<br>
    2. Biror kitob mutolaasiga kirishish niyatingiz boʻlsa bizdagi yangi eʼlon qilingan narx orqali qiziqib xarid qilishingiz mumkin. <br>
    3. In Shaa Allah ajoyib tanlovlarda ishtirok etishingiz mumkin.<br>
    4. Kitoblar va kitob doʻkonlari haqida, chegirmalar haqida maʼlumotlarni va yangiliklarni kuzatishingiz mumkin.<br>
    5. Biz bilan kitob mutolaasi boʻyicha marafonlarda ishtirok etishingiz mumkin.<br>
    6. Qaysi doʻkonda bor yoki yoʻqligini bilib olishingiz mumkin. Eng muhimi narx sanasiga eʼtibor qiling <br>
    7. Olmoqchi boʻlgan kitobingizni Sizga yaqin doʻkondagi narxini bilib olishingiz mumkin <br>
    8. Toʻgʻri nashriyotdagi narx arzon deyishingiz mumkin, lekin u yerda tugagan boʻlsa, siz boshqa doʻkonlarni orasidan qidirib topishingiz mumkin. Va ular orasidan solishtirib xarid qilasiz<br>
    9. In Shaa Allah bizni niyat sizlarni manfaatingiz. Bu yoʻlda barchasiga tayyormiz. Ilm olishingiz yoʻlida ajoyib ishlar qilamiz.<br>
    10. Muhimi siz kanalimlz aʼzosisiz🙂<br><br>
    
    <strong>Bizda noqulaylik:</strong><br><br>
    
    Tashlangan narxlarda biroz oʻzgarishlar boʻlishi mumkin. Hamma doʻkonda narxlar doim bir xil emas. Biz bitta narxni oʻrtacha 1-1.5 oyda yangilaymiz. Bu borada narxlarda baʼzi baʼzida oʻzgarish boʻlsa bizni toʻgʻri tushunasiz🙂 agar bizga eslatma qilsangiz oʻzgargan narxlar boʻyicha, biz juda xursand boʻlgan boʻlar edik.
    Lekin har bir postda eng arzon deb bilgan doʻkoningiz deyarlik oʻzgarmaydi. Yaʼni narxlarda oshish tushish kuzatiladi, lekin baribir deyarli oʻsha doʻkon nisbatan arzonligicha qoladi.
    
    Bizni qoʻllab quvvatlab turgan, biz bilan kanalda birga boʻlayotgan insonlar, barchangizdan Alloh taolo rozi boʻlsin 🌱❤️</p>
</div>
{% endblock content %}
