{% extends 'base.html' %}
{% block title %}Do`konlar haqida{% endblock title %}
{% block content %}
<div class="text-center">
    <h1 class="text-dark">Do`konlar manzillri</h1>
    <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Azon</th>
            <td><a href="https://yandex.ru/maps?whatshere%5Bpoint%5D=69.2189386161439%2C41.29517080880762&whatshere%5Bzoom%5D=17.0&ll=69.21893861614392%2C41.29517080843199&z=17.0" target="_blank" rel="noopener noreferrer">Chilonzor filiali</a> , <a href="https://yandex.ru/maps?whatshere%5Bpoint%5D=69.24136954878838%2C41.32219022967109&whatshere%5Bzoom%5D=15.999884&ll=69.2413812084947%2C41.3222801433044&z=15.999884" target="_blank" rel="noopener noreferrer">Xadra filiali</a></td>
           
          </tr>
          <tr>
            <th scope="row">Qamar</th>
            <td><a href="https://goo.gl/maps/oh4ncbjCcLGQqjyn8" target="_blank" rel="noopener noreferrer">Alisher Navoiy ko'chasi 42-uy</a></td>
           
          </tr>
          <tr>
            <th scope="row">Ibookuz</th>
            <td><a href="https://maps.app.goo.gl/vLF45gVeUJvr3yoF9" target="_blank" rel="noopener noreferrer">Chilonzor, Shuhrat chorrahasi</a></td>
          </tr>
          <tr>
            <th scope="row">Zumar</th>
            <td><a href="https://bit.ly/3RmnSw1" target="_blank" rel="noopener noreferrer">Toshkent shahar, Muqimiy ko'chasi<br> 24-uy</a></td>
          </tr>
          <tr>
            <th scope="row">Asxiy book</th>
            <td><a href="https://yandex.com/maps/org/2837697709" target="_blank" rel="noopener noreferrer">Muqimiy ko'chasi 142/1</a>, <a href="https://www.google.com/maps/place/75PP%2BVV9+Asaxiy+Books+Farhod+bozori,+Lutfi+Street,+Tashkent+100138,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@41.2871646,69.1872334,16z/data=!4m2!3m1!1s0x38ae89f983a69edd:0x427c98bf5dbae658?hl=ru-uz" target="_blank" rel="noopener noreferrer">Lutfiy <br> ko'chasi 75PP+VV9</a>, <a href="https://www.google.com/maps/place/41%C2%B019'13.2%22N+69%C2%B015'44.0%22E/@41.320328,69.262226,16z/data=!4m4!3m3!8m2!3d41.320328!4d69.262226" target="_blank" rel="noopener noreferrer">Alisher Navoiy <br> ko'chasi 11A</a></td>
          </tr>
          <tr>
            <th scope="row">Shams</th>
            <td><a href="https://maps.google.com/maps?q=41.293602,69.226186&ll=41.293602,69.226186&z=16" target="_blank" rel="noopener noreferrer">Novza filiali</a>, <a href="https://maps.google.com/maps?q=41.330028,69.233238&ll=41.330028,69.233238&z=16" target="_blank" rel="noopener noreferrer">Chorsu filiali</a></td>
          </tr>

          <tr>
            <th scope="row">Hilol Nashr</th>
            <td><a href="https://t.me/HilolNashr/13605" target="_blank" rel="noopener noreferrer">Hilol Nashr telegram kanal</a></td>
          </tr>

          <tr>
            <th scope="row">Factor Books</th>
            <td><a href="https://goo.gl/maps/FCYSiC6LEJxdmCFLA" target="_blank" rel="noopener noreferrer">Novza metro, Makro supermarketi <br>yonida</a></td>
          </tr>

          <tr>
            <th scope="row">Bookuz</th>
            <td><a href="https://maps.app.goo.gl/fQ4pphMGWgsvDc3j9" target="_blank" rel="noopener noreferrer">Chilonzor tumani 8, Qatortol ko'chasi <br>60. </a><a href="(https://maps.app.goo.gl/fQ4pphMGWgsvDc3j9)" target="_blank" rel="noopener noreferrer"> «Parus» ko'ngilochar <br> markazi  yonida .</a></td>
          </tr>

          <tr>
            <th scope="row">Golden Books</th>
            <td><a href="https://maps.app.goo.gl/eBJLajJLrqSnSRqq7" target="_blank" rel="noopener noreferrer">Chilonzor G-9, Jahon tillari universiteti oldida, 20-uy</a></td>
          </tr>

          <tr>
            <th scope="row">Azbo books</th>
            <td><a href="https://maps.app.goo.gl/n6vGizz1d9hS6fvU6" target="_blank" rel="noopener noreferrer">Chilonzor metrodan chiqqanda "Oqtepa lavash" ga yetmasdan</a></td>
          </tr>

          <tr>
            <th scope="row">Munir Market</th>
            <td>Alisher Navoi 44, Tashkent, Uzbekistan, </td>
          </tr>

          <tr>
            <th scope="row">Al Bahr kitoblar</th>
            <td>Mirobod tumani, Fargʻona yoʻli<br> 2-tor koʻchasi. Moʻljal: Islomota<br> jome masjidi roʻparas</td>
          </tr>
          <tr>
            <th scope="row">Maʼrifat uyi - 2</th>
            <td>Chorsu, Kitoblar olami</td>
          </tr>
        </tbody>
      </table>
{% endblock content %}