{% load static %}
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-3">
      <!-- Section: Social media -->
      <section>
        <!-- Telegram --> 
        <p  class="mb-0"><a href="https://t.me/bukitobqancha">Telegram <i class="fa-brands fa-telegram" style="color: #6cd5ea;"></i></a> & <a href="https://instagram.com/bukitobqancha"> Instagram <i class="fa-brands fa-instagram" style="color: #b30000;"></i></a></p>
        <!-- Instagram -->
        <p></p>
      </section>
      <!-- Section: Social media -->
      <div class="text-center">
        © 2020 Copyright:
        <a class="text-white" href="https://t.me/bukitobqancha">Bu Kitob qancha?</a>
        <a class="text-white" href="https://t.me/kitobxon_karvoni">Kitobxon karvoni</a>
      </div>
    </div>
    <!-- Grid container -->
   
    <!-- Copyright -->
   
    <!-- Copyright -->
  </footer>